@import '~bootstrap/scss/bootstrap';

.MuiChip-root{
  margin: 8px 8px 8px 0;
  font-weight: 500;
}

// .MuiButtonBase-root{
//   font-size: 2rem
// }

.form-control{
  padding: 8px;
border: none;
margin-top: 24px;
margin-bottom: 24px;
border-radius: 100px;
box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.1), inset -4px -4px 10px 0 rgba(255, 255, 255, 0.1);
background-color: rgba(255, 255, 255, 0.2);
color: rgba(255, 255, 255, 1);
&:focus{
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.7);
  }
}

// .MuiButton-label{
//   font-size: 40px
// }
